/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
font-family: 'Inter';
src: url(./Inter-Variable.woff2) format('woff2');
font-variation-settings: 'wght' 410 715;
font-display: swap;
}

@font-face {
font-family: 'PressStart2P';
src: url(./PressStart2P-Regular.woff) format('woff');
font-weight: normal;
font-display: swap;
}

/*
font-family: 'Press Start 2P', sans-serif;
font-size: 65px;
font-weight: 400;
font-style: normal;

font-family: 'Press Start 2P', sans-serif;
font-size: 14px;
font-weight: 400;
font-style: normal;

font-family: 'Press Start 2P', sans-serif;
font-size: 14px;
font-weight: 400;
font-style: normal;

font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 900;
font-style: italic;

font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;
font-style: italic;

*/
