/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--Inter);
  background-image: var(--background-gradient-vertical),
    var(--background-gradient-horizontal), var(--background-gradient-base);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-size-main);
}

.block {
  width: var(--block-width);
  margin: var(--block-margin);
  border: var(--main-border);
  background-color: var(--card-background);
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--header-marign-bottom);
  padding: var(--header-padding);
}

.h1 {
  font-family: var(--PressStart2P);
  font-size: var(--font-size-h1);
}

.h2 {
  margin-top: 20px;
  font-family: var(--PressStart2P);
  font-size: var(--font-size-h2);
}

.truck-image {
  display: block;
  width: var(--img-width);
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--PressStart2P);
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-tag {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card-header {
  padding: var(--card-header-padding);
  font-family: var(--Inter);
  font-weight: var(--font-weight-h3);
  font-size: var(--font-size-main);
}

.card-text {
  padding: var(--card-text-padding);
}

.card-text-extra {
  padding-top: 0;
}

.button {
  /*ALL BUTTON RESET*/
  margin: 0;

  padding: var(--button-padding);

  color: inherit;
  font-family: var(--PressStart2P);
  font-weight: var(--font-weight-button);
  font-size: var(--font-size-button);
  background: inherit;
}

.button__text {
    text-wrap: nowrap;
  }

.button-group {
  display: flex;
  justify-content: right;
  margin-right: var(--button-margin);
  margin-bottom: var(--button-margin);
}

.card__icon-button {
  border: none;
  padding: 0;
}

.card__like-button {
  margin-left: 7px;
  border: var(--main-border);
}

.floppy-icon {
  width: var(--floppy-size);
  height: var(--floppy-size);
}

.save-button-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 100px;
  width: var(--save-button-width);
}

.save-button {
  background-color: var(--card-background);
}

.dialog {
  --block-width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  display: none;
  justify-self: center;
  font-family: var(--PressStart2P);
  font-size: var(--font-weight-button);
  background-color: var(--card-background);
}

.dialog[open] {
  inset: 50% auto auto 50%;
  display: grid;
  grid-template-columns: min-content 234px;
  grid-template-rows: min-content min-content;
  gap: 20px;
  margin: 0;
  transform: translate(-50%, -50%);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

dialog .floppy-icon {
  --floppy-size: 39px;
}

.close-button {
  grid-column: span 2;
}

@media (width <= 375px) {
  .save-button {
    --button-padding: 17px 20px;
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 8px;
  }

  .floppy-icon {
    --floppy-size: 28px;
    justify-self: center;
  }
}