.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--Inter);
  background-image:
    var(--background-gradient-vertical), var(--background-gradient-horizontal),
    var(--background-gradient-base);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-size-main);
}

.block {
  width: var(--block-width);
  margin: var(--block-margin);
  border: var(--main-border);
  background-color: var(--card-background);
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 100px;
  margin-bottom: var(--header-marign-bottom);
  padding: var(--header-padding);
}

.html-headliner {
  font-family: var(--PressStart2P);
  font-size: var(--font-size-html-headliner);
}

.tag-headliner {
  margin-top: 20px;
  font-family: var(--PressStart2P);
  font-size: var(--font-size-closing-tag-headliner);
}

.memory-photo {
  display: block;
  width: var(--img-width);
}

.desaturate-filter {
  filter: saturate(70%);
}

.hue-rotate-filter {
  filter: hue-rotate(-90deg);
}

.contrast-filter {
  filter: contrast(130%);
}

.blur-filter {
  filter: blur(0.1rem);
}

.invert-filter {
  filter: invert(0.4);
}

.saturate-contrast-filter {
  filter: saturate(150%) contrast(130%);
}

.sepia-filter {
  filter: sepia(0.3);
}

.image-wrapper {
  position: relative;
  display: inline-block;
  border-top: var(--img-border);
  border-bottom: var(--img-border);
}

.image-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--PressStart2P);
  text-transform: uppercase;
  text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-tag {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card-header {
  padding: var(--card-header-padding);
  font-family: var(--Inter);
  font-size: var(--font-size-main);
  font-variation-settings: "wght" var(--font-weight-card-header);
}

.card-text {
  padding: var(--card-text-padding);
  font-family: var(--Inter);
  font-variation-settings: "wght" var(--font-size-main);
}

.card-text:nth-of-type(2) {
  padding-top: 0;
}

.button {
  margin: 0;
  padding: var(--button-padding);
  color: inherit;
  font-family: var(--PressStart2P);
  font-weight: var(--font-weight-button);
  font-size: var(--font-size-button);
  background: inherit;
  cursor: pointer;
}

.animated__button {
  position: relative;
}

.animated__button::before {
  content: "";
  position: absolute;
  inset: 0 0;
  display: block;
  background-color: black;
  transition: 0.5s ease-in-out;
  transform: scale(0, 1);
  transform-origin: 0 0;
  inline-size: 100%;
  block-size: 100%;
}

.animated__button:hover::before {
  transform: scale(1, 1);
}

.animated__button:hover .button__text {
  color: var(--button-hover);
}

.save-button:hover .floppy-icon {
  fill: var(--button-hover);
  transition: 0.5s step-start;
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  z-index: 1;
  align-self: center;
  transition: color 0.5s ease-in-out;
  text-wrap: nowrap;
}

.button-group {
  display: flex;
  justify-content: right;
  margin-right: var(--button-margin);
  margin-bottom: var(--button-margin);
}

.like-icon {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:has(:hover) .core {
  fill: var(--animation-fill-countour);
  transition-delay: 0s;
}

.like-icon:has(:hover) .main-body {
  fill: var(--animation-fill-countour);
  transition-delay: 0.05s;
}

.like-icon:has(:active) .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:has(:active) .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-grow 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: spark-blink 0.3s ease-in 0.3s;
}

.card__icon-button {
  border: none;
  border: 2px solid transparent;
  padding: 0;
  outline: none;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--main-border);
  outline: none;
}

.card__like-button {
  display: flex;
  justify-content: center;
  width: 130px;
  margin-left: 7px;
  border: var(--main-border);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus-visible {
  box-shadow: var(--button-shadow);
}

.floppy-icon {
  align-self: center;
  width: var(--floppy-size);
  height: var(--floppy-size);
  transition: 0.5s step-start;
  mix-blend-mode: difference;
  fill: var(--button-hover);
}

.save-button-block {
  position: relative;
  width: var(--save-button-width);
  margin: 0 auto 100px;
}

.save-button {
  --button-padding: 17px 20px;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 8px;
  background-color: var(--card-background);
  border: var(--main-border);
}

.dialog {
  display: none;
  justify-self: center;
  padding: 0;
  font-family: var(--PressStart2P);
  font-size: var(--font-weight-button);
  background-color: var(--card-background);
}

.dialog[open] {
  inset: 50% auto auto 50%;
  display: grid;
  grid-template-columns: min-content var(
      clamp(12.625rem, 11.9208rem + 3.0047vw, 14.625rem)
    );
  grid-template-rows: min-content min-content;
  gap: 30px 20px;
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  margin: 0;
  padding: 30px;
  transform: translate(-50%, -50%);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog .floppy-icon {
  --floppy-size: 39px;
  align-self: center;
}

.dialog-text {
  font-weight: var(--font-weight-button);
  font-size: var(--font-size-button);
  line-height: 21px;
  text-transform: uppercase;
}

.close-button {
  grid-column: span 2;
  border: var(--main-border);
}

@media (width <= 375px) {
  .save-button {
    grid-template-columns: none;
    grid-template-rows: min-content min-content;
  }

  .floppy-icon {
    --floppy-size: 28px;
    justify-self: center;
  }
}
