/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --PressStart2P: "PressStart2P", sans-serif;
  --Inter: "Inter", sans-serif;
  --font-weight-main: 410;
  --font-weight-h3: 715;
  --font-weight-button: 400;
  --font-style-card: italic;
  --font-size-main: 18px;
  --font-size-button: 14px;
  --font-size-h1: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-h2: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  --background-gradient-vertical: repeating-linear-gradient(
    to right,
    #d3d3d3 0 2px,
    transparent 2px 4px
  );
  --background-gradient-horizontal: repeating-linear-gradient(
    #d3d3d3 0 2px,
    transparent 2px 4px
  );
  --background-gradient-base: linear-gradient(
    #e7e7e7 0,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );

  --img-width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  --floppy-size: 21px;

  --card-background: white;
  --main-border: 2px rgba(0, 0, 0, 1) solid;
  --block-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --block-margin: 0 auto 50px;
  --header-padding: clamp(1rem, -1.3437rem + 10vw, 7.6563rem)
    clamp(1rem, -1.3437rem + 10vw, 7.6563rem);
  --header-marign-bottom: clamp(6.125rem, 5.8404rem + 0.6826vw, 6.25rem);
  --card-header-padding: 4px 10px;
  --card-text-padding: 25px;
  --button-margin: 25px;
  --button-padding: 10.5px 35px;
  --save-button-width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}
